<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{thymeleaf/layout/template :: layout(~{::title},~{::body/content()})}">
<head>
    <meta charset="UTF-8"/>
    <title>ユーザー新規登録画面</title>
</head>
  <body>
  	<div>
		<div class="page-header">
			<h1>index</h1>
			<p th:if="${validationError}" th:text="${validationError}">validation error</p>
		</div>
  		<div>
  			<form id="userAddForm" name="userAddForm" action="/webapp/admin/management/users/userAddConfirm"
					th:action="@{/admin/management/users/userAddConfirm}" th:object="${userAddForm}" method="post">
  				<div>
  					ユーザーID　：　<input type="text" name="userId" th:field="*{userId}"/>
  					<span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="help-block">error!</span>
  				</div>
  				<div>ユーザー名　　　：　<input type="text" name="userName" /></div>
  				<div>パスワード　　　：　<input type="password" name="userPassword_1" /></div>
  				<div>　　　　　　　　　　<input type="password" name="userPassword_2" /></div>
  				<div>権限　　　　　　：　
  					<select name="userAuth">
  						<option value="admin">管理者</option>
						<option value="user">一般ユーザー</option>
  					</select>
  				</div>
  				<div>
  					<input type="submit" id="back_btn" value="戻る"/>
  					<input type="submit" value="確認"/>
  				</div>
  			</form>
  		</div>
  	</div>
  </body>
</html>